
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


  

body{
    background: rgb(47, 45, 45);
}
.calculator-body{
    background: #fff;
    width: 300px;
    height:450px;
    border-radius: 10px;
    /* margin-left: 35%;
    margin-right: 35%;
    margin-top: 7%; */
    /* box-shadow: -2px 2px 2px 2px #000; */
    border: 1px solid rgb(233, 231, 231);
    /* margin-top: 120px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.input-box{
    width: 70%;
    height: 50px;
    border: none;
    text-align: right;
    margin-left: 55px;
    font-size: 48px;
    position: relative;
    
}
input:focus{
    outline: none;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    position: relative;
    /* padding-right: 30px; */

}
.calculator-button{
    width: 45px ;
    height: 45px;
    border-radius: 50px;
    border: none;
    font-size: 32px;
    font-size: 18px;
    font-family: "Poppins";
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    row-gap: 20px;
    padding: 30px 10px 10px 10px;
    margin: 0%;
    /* align-content: end; */
    justify-content: space-around;
}
.calculator-button-fnc{
    width: 45px ;
    height: 45px;
    border-radius: 50px;
    border: none;
    font-size: 32px;
    font-size: 18px;
    background: orange;
    color: black;
    font-family: "Poppins";
}

.calculator-button-fnc:hover{
    background-color: gray;
    color: white;

}
.calculator-button:hover{
    background-color: orange;
    color: white;

}